<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Scrolling Letters Animation | Demo 5 </title>
		<meta name="description" content="A scrolling letters animation where some text changes depending on the page's scroll position" />
		<meta name="keywords" content="scroll, letters, animation, javascript, web design, web development" />
		
		<link rel="stylesheet" type="text/css" href="../static/plugins/txt_effect/effect1/css/base.css" />
		<link rel="stylesheet" type="text/css" href="../static/plugins/txt_effect/effect1/css/demo5.css" />
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<style>
            html{
                scrollbar-width: none; /* Firefox */
                scrollbar-color: transparent transparent;
                scrollbar-track-color: transparent;
                -ms-scrollbar-track-color: transparent;
            }
		</style>
	</head>
	<body class="demo-5 loading">
		<main style="margin-top: -135px;">
			<div class="content">
				<div class="content__section">
					<img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/0.jpg" alt="img"/>
					<h2 class="content__text">眉目有山河</h2>
				</div>
				<div class="content__section">
					<a class="content__link"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/1.jpg" alt="img"/></a>
					<h2 class="content__text">清澈明朗</h2>
				</div>
				<div class="content__section">
					<a class="content__link"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/2.jpg" alt="img"/></a>
					<h2 class="content__text">心中有丘壑</h2>
				</div>
				<div class="content__section">
					<a class="content__link"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/3.jpg" alt="img"/></a>
					<h2 class="content__text">一往无前</h2>
				</div>
				<div class="content__section">
					<a class="content__link"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/4.jpg" alt="img"/></a>
					<h2 class="content__text">长路浩浩荡荡</h2>
				</div>
				<div class="content__section">
					<a class="content__link"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/1.jpg" alt="img"/></a>
					<h2 class="content__text">万事尽可期待</h2>
				</div>
				<div class="content__section">
					<a class="content__link content__link--nobottom"><img class="content__img" src="../static/plugins/txt_effect/effect1/img/set4/2.jpg" alt="img"/></a>
					<h2 class="content__text">岁岁常欢愉</h2>
				</div>
				<div class="content__section">
					<h2 class="content__text">年年皆胜意</h2>
				</div>
			</div>
		</main>
		<script src="../static/plugins/txt_effect/effect1/js/imagesloaded.pkgd.min.js"></script>
		<script src="../static/plugins/txt_effect/effect1/js/charming.min.js"></script>
		<script src="../static/plugins/txt_effect/effect1/js/anime.min.js"></script>
		<script src="../static/plugins/txt_effect/effect1/js/demo5.js"></script>
        <script src="../static/js/jquery.min.js"></script>
        <script>
            let topArr = [];
            $(function () {
                $('.content__text').each(function (item,i) {
                    let top = $(this).offset().top;
                    topArr.push(top);
                });
                let index = 0;
                setInterval(function () {
                    index++;
                    window.scrollTo({
                        top: topArr[index],
                        behavior: "smooth"
                    });
                    if(index==topArr.length){
                        $(window.parent.document).find("#mainframe").attr("src", "/interesting/bg_effect1");
                    }
                },4000);

            });
		</script>
	</body>
</html>
