<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="庆辉建材、廊坊、廊坊庆辉建材、保暖、建材行业、廊坊•庆辉建材有限公司、制暖、工业、环保、">
        <meta name="description" content="廊坊庆辉保温防火建材有限公司坐落于津京走廊、环渤海经济圈中心地带，是集销售、研发、生产和于一体的新型公司。
										我公司销售保温材料、防火材料、橡胶产品、化工产品。在全球倡导节能环保的今天，廊坊庆辉保温防火建材有限公司以销售绿色保温建材行业独树一帜。
										卓越的品质、完善的服务、便捷的交通、快速及时的物流系统，使“廊坊庆辉保温防火建材有限公司”
										销售产品覆盖全国各省、直辖市和自治区，广泛应用于上海创智天地园区、天津轻轨5号线、天津中钢国际广场、京沪高铁、上海恒隆广场等著名建筑和重点工程。">
        
        <meta name="author" content="Muhammad Morshed">
		
        <title>廊坊•庆辉建材有限公司</title>
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->

		<!-- Bootstrap Family Styles -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="http://apps.bdimg.com/libs/jquery-lazyload/1.9.5/jquery.lazyload.js"></script>
		

        <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
        <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

		<!-- Fontawesome Icon font -->
       <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Grid Component css -->
        <link rel="stylesheet" href="css/component.css">
		<!-- Slit Slider css -->
        <link rel="stylesheet" href="css/slit-slider.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/media-queries.css">
        
        <!-- 轮播 -->
        <script src="js/runner/jquery.cycle.all.js"></script>
		<script src="js/runner/jquery.easing.1.3.js"></script>
		<link rel="stylesheet" href="js/runner/css/slideshows.css" />
		
		<!-- 信息提示框 -->
		<link rel="stylesheet" href="css/alert/sweet-alert.css">
		<link rel="stylesheet" href="css/alert/animate.css">
		<script src="js/alert/sweet-alert.js"></script>
	
		<script src="js/util/util.js"></script>
		<script src="js/info.js"></script>
		<!--
		Google Font
		=========================== -->                    
		
		<!-- Modernizer Script for old Browsers -->		
        <script src="js/modernizr-2.6.2.min.js"></script>

        <style type="text/css">
        	


        </style>

        <script type="text/javascript">
        		
        $(function(){
        	
        	
        	$('#contact-form')[0].reset();
        	var flag = isMobile();
        	
        	if(flag){
        		$('.ss2_wrapper .slideshow_box').css('height','275px');
				$('#mask').show();
				$('.icon-box').hide();
				
        	}else{
        		
        	}
        	
        	$('body,html').animate({scrollTop:0},500);
        	//window.location.reload();
        	$("img.lazy").lazyload({
        		placeholder : "img/loading.gif",
        		effect : "fadeIn",
        		threshold : 200,
        	});
        	
        	//轮播
        	$('#slideshow_2').cycle({

                fx: 'fade',		

        		speed:  900, 

        		timeout: 5000, 

        		pager: '.ss2_wrapper .slideshow_paging', 

                prev: '.ss2_wrapper .slideshow_prev',

                next: '.ss2_wrapper .slideshow_next',

        		before: function(currSlideElement, nextSlideElement) {

        			var data = $('.data', $(nextSlideElement)).html();

        			$('.ss2_wrapper .slideshow_box').stop(true, true).animate({ bottom:'-110px'}, 480, function(){

        				$('.ss2_wrapper .slideshow_box .data').html(data);

        			});

        			$('.ss2_wrapper .slideshow_box').delay(100).animate({ bottom:'0'}, 480);

        		}

            });



        	$('.ss2_wrapper').mouseenter(function(){

        		$('#slideshow_2').cycle('pause');

        		$('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'20px'}, 200);

        		$('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'20px'}, 200);

            }).mouseleave(function(){

        		$('#slideshow_2').cycle('resume');

        		$('.ss2_wrapper .slideshow_prev').stop(true, true).animate({ left:'-40px'}, 200);

        		$('.ss2_wrapper .slideshow_next').stop(true, true).animate({ right:'-40px'}, 200);

            });

        	function pager_create(id, slide) {

        		var thumb = $('.thumb', $(slide)).html();

        		var title = $('h4 a', $(slide)).html();

        		var add_first = (id==0)?' class="first"':'';

        		return '<li><a href="#" title="'+title+'"'+add_first+'>'+thumb+'</a></li>';

            };
        	
        });

        </script>
		<style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			.carousel-inner img {
				width:100%;
			}
			
			#nav .current{
				line-height:30.8px;
			}
			
		</style>
	
    </head>
	
    <body id="body">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
		
        <!--
        Welcome Slider
        ==================================== -->

		<!--/#home section-->
		
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body"><h4>庆辉主页</h4></a></li>
                        <li><a href="#about"><h4>企业简介</h4></a></li>
                        <li><a href="#showcase"><h4>产品服务</h4></a></li>
                        <li><a href="#our-team"><h4>工程案例</h4></a></li>
                        <li><a href="#blog"><h4>行业动态</h4></a></li>
                        <li><a href="#contact-us"><h4>联系我们</h4></a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->		
		<!--
		Start About Section
		==================================== -->
				<div id="mask" style="height:470px;width:100%;position:absolute;top:0;z-index:25;border:0px solid red;display:none;">
				</div>
				<div id="wrapper">
					<section id="main">
						<div id="content">
							<div class="ss2_wrapper">
					
								<a href="#" class="slideshow_prev"><span>上一页</span></a>
								<a href="#" class="slideshow_next"><span>下一页</span></a>
					
								<div class="slideshow_paging"></div>
								<div class="slideshow_box">
									<div class="data"></div>
								</div>
					
								<div id="slideshow_2" class="slideshow">
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img02.jpg" alt="photo 2" width="100%"  /></a></div>
										<div class="data">
											<h2><a href="#">壹•愿景</a></h2>
											<p style="font-size:18px;">打造良好的品牌产品和值得高度信赖的企业</p>
										</div>
									</div>
					
													
					
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img01.jpg" alt="photo 3" width="100%" /></a></div>
										<div class="data">
											<h2><a href="#">贰•使命</a></h2>
											<p style="font-size:18px;">创造具有时代意义的企业，创建绿色高效能的产品 </p>
										</div>
									</div>
					
									
					
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img03.jpg" alt="photo 1" width="100%"  /></a></div>
										<div class="data">
											<h2><a href="#">叁•价值观</a></h2>
											<p style="font-size:18px;">诚实守信、改革创新、拼搏上进</p>
										</div>
									</div>
					
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img04.jpg" alt="photo 4" width="100%" /></a></div>
										<div class="data">
											<h2><a href="#">肆•经营理念</a></h2>
											<p style="font-size:18px;">产品质量严格管控，以质量为主再考虑成本， 创造新型服务和托管公司，上下管理人员密切协调提供更好的服务</p>
										</div>
									</div>
					
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img05.jpg" alt="photo 5" width="100%"  /></a></div>
										<div class="data">
											<h2><a href="#">伍•发展方向</a></h2>
											<p style="font-size:18px;">国内提供优良可靠的产品的同时提供更好的服务，为客户节省精力、时间和成本。积极向海外投资生产和建立储存仓库，设立更多的办事处为客户提供更便捷的服务。</p>
										</div>
									</div>
									<div class="slideshow_item">
										<div class="image"><a href="#"><img  src="photos/img06.jpg" alt="photo 5" width="100%"  /></a></div>
										<div class="data">
											<h2><a href="#">陆•关于产品</a></h2>
											<p style="font-size:18px;">要求质量的同时不断创新研发新型绿色环保产品</p>
										</div>
									</div>
								</div>
							</div><!-- .ss2_wrapper -->
						</div>
					</section><!-- #main -->
				</div><!-- #wrapper -->


		<section id="about" class="bg-one">
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="5ms" >
						<h2>关于<span class="color">我们</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
					
					
					<!-- features item -->
					<div id="features">
						<div class="item">
							
							<div class="features-item">
								
								<!-- features media -->
								<div class="col-md-6 feature-media media-wrapper wow fadeInUp" data-wow-duration="500ms">
									<img  data-original="img/about01.jpg" alt="1" class="lazy img-responsive">
								</div>
								<!-- /features media -->
								
								<!-- features content -->
								<div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
									<h2>廊坊庆辉保温防火建材有限公司</h2>
									<p>
										廊坊庆辉保温防火建材有限公司坐落于津京走廊、环渤海经济圈中心地带，是集销售、研发、生产和于一体的新型公司。
										我公司销售保温材料、防火材料、橡胶产品、化工产品。在全球倡导节能环保的今天，廊坊庆辉保温防火建材有限公司以销售绿色保温建材行业独树一帜。
										卓越的品质、完善的服务、便捷的交通、快速及时的物流系统，使“廊坊庆辉保温防火建材有限公司”
										销售产品覆盖全国各省、直辖市和自治区，广泛应用于上海创智天地园区、天津轻轨5号线、天津中钢国际广场、京沪高铁、上海恒隆广场等著名建筑和重点工程。
										“廊坊庆辉保温防火建材有限公司保温材料和玻璃棉制品为上海多个地标建筑提供保温材料， 廊坊庆辉保温防火建材有限公司产品中的保温建材还出口法国、
										瑞士、荷兰、比利时，在意大利设有办事处能够便捷为周边国家提供服务，还出口马里、毛里塔尼亚、阿尔及利亚等非洲国家，和周边国家：韩国、日本及新加坡等国家。
									</p>
									<!-- <a href="#" class="btn btn-transparent">Learn More</a> -->
								</div>
								<!-- /features content -->
								
							</div>
						</div>
						
						<div class="item">
							<div class="features-item">
							
								<!-- features media -->
								<div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
									<img data-original="img/about02.jpg" alt="1" class="lazy img-responsive" >
								</div>
								<!-- /features media -->
								
								<!-- features content -->
								<div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
									<h2>廊坊庆辉保温防火建材有限公司</h2>
									<p>
										先后荣获首批“全国诚信守法企业”、“河北省重合同守信用单位”、“河北省著名商标企业”、
										“河北省质量效益型先进企业”等称号，产品成为“河北省优质产品”、“河北省名牌产品”、“河北省高新技术产品”。
										我公司保温材料得到国际市场认证和好评，在国内的保温材料市场有良好的信誉和质量保证。
										凸显了廊坊庆辉保温防火建材有限公司产品在行业影响力和廊坊庆辉保温防火建材有限公司产品优异的技术性能，成为中国保温防火材料行业标志性企业。
										企业的防火产品用于电力建设及住房项目的广泛运用，得到了客户的一致好评，公司不断研发新型防火材料每年投入不少于总收入的10%的经费用于研发，
										并取得了很大的成效，使廊坊庆辉保温防火建材有限公司的防火材料更加环保，防火功能更有保证，在同行业内被不断学习，成为同行业标志性公司。
										公司一直践行“人无信而不立，诚信是公司的根本信条，致力发展更优秀的服务，更先进的生产技术，更便捷的的物流为客户节省成本和时间。
										更以创新技术”的核心价值观，以打造具有时代意义品牌”为己任，通过严谨的管理，成熟先进的生产技术，更为便捷的物流，更好的服务。
										着力打造优质环保节能精品，为追求成为值得信赖和尊重的绿色保温防火企业而不懈努力。
									</p>
									<!-- <a href="#" class="btn btn-transparent">Learn More</a>
									<a href="#" class="btn btn-transparent">Purchase Theme</a> -->
								</div>
								<!-- /features content -->
								
							</div>
						</div>
					</div>
					<!-- /features item -->
					<br><br><br>
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="100ms" >
						<div class="wrap-about">							
							<div class="icon-box">
								<i class="fa fa-shield fa-4x"></i>
							</div>					
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h2 class="ddd">敢于创新</h2>								
								<p>创新的本质不仅局限于企业精神的创新，更着重于产品及对市场需求不断探索的创新，一切的创新将带来更完善的产品服务。</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
						<div class="wrap-about">
							<div class="icon-box">
								<i class="fa fa-globe fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h2>行业前瞻</h2>
								<p>为客户提供优良可靠的产品，同时为客户节省精力、时间和成本，减少客户关于行业低谷期的损失。</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="wrap-about kill-margin-bottom">
							<div class="icon-box">
								<i class="fa fa-users fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h2>团队专业</h2>
								<p>团队均由相关专业技术精湛人士组成，人性化的管理模式工作方式能保证更高效更高质量的工作完成。</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		

		
		<!--
		Start Counter Section
		==================================== -->
		
		<section id="counter" class="parallax-section">
			<div class="container">
				<div class="row">
				
					<!-- first count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="100ms">
						<div class="counters-item">
							<div>
							    <span data-speed="3000" data-to="320">500+</span>
							</div>
							<i class="fa fa-users fa-3x"></i>
							<h3>合作企业</h3>
						</div>
					</div>
					<!-- end first count item -->
				
					<!-- second count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
						<div class="counters-item">
							<div>
							    <span data-speed="3000" data-to="565">1500+</span>
							</div>
							<i class="fa fa-check-square fa-3x"></i>
							<h3>完成项目</h3>
						</div>
					</div>
					<!-- end second count item -->
					
					<!-- fourth count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="counters-item kill-margin-bottom">
							<div>
							    <span data-speed="3000" data-to="99">99</span>
								<span>%</span>
							</div>
							<i class="fa fa-line-chart fa-3x"></i>
							<h3>企业回报率</h3>
						</div>
					</div>
				
					<!-- third count item -->
					<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="counters-item">
							<div>
							    <span data-speed="3000" data-to="95">95</span>
								<span>%</span>
							</div>
							<i class="fa fa-thumbs-up fa-3x"></i>
				            <h3>好评率</h3>
							
						</div>
					</div>
					<!-- end third count item -->
					
					
					<!-- end fourth count item -->
					
				</div> 		<!-- end row -->
			</div>   	<!-- end container -->
		</section>   <!-- end section -->
		
		<!-- Start Portfolio Section
		=========================================== -->
		
		<section id="showcase">
			<div class="container">
				<div class="row wow fadeInDown" data-wow-duration="500ms">
					<div class="col-lg-12">
					
						<!-- section title -->
						<div class="title text-center">
							<h2><span class="color">产品</span>服务</h2>
							<div class="border"></div>
						</div>
						<!-- /section title -->
					
						<!-- portfolio item filtering -->
						<div class="portfolio-filter clearfix">
							<ul class="text-center">
							    <li><a href="javascript:void(0)" class="filter" data-filter="all">所有产品</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".t1">保温类</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".t2">阻火类</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".t3">聚氨酯</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".t4">硅酸铝</a></li>
							</ul>
						</div>
						<!-- /portfolio item filtering -->
						
					</div> <!-- /end col-lg-12 -->
				</div> <!-- end row -->
			</div>	<!-- end container -->
	
			<!-- portfolio items -->
			<div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
                <ul id="og-grid" class="og-grid">
                
                
                	<!-- single portfolio item -->	
					<li class="mix t1">
						<a href="T1P1_singleproduct.html" data-largesrc="image/product/t1_p1_01.jpg" data-title="岩棉"
							data-description="岩棉是以精选的辉绿岩和玄武岩矿渣为主要原料，经过高温融化在告诉离心过程中喷入特质粘合剂和防水剂而制成的树脂岩棉和防水岩棉。
											可制成岩棉板、毡、管、条。具有导热系数小，吸声性能好不燃，化学稳定性好等特点。">
							<img data-original="image/product/t1_p1_01.jpg"  class="lazy"  alt="岩棉">
							<div class="hover-mask">
								<h3>岩棉</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P4_singleproduct.html" data-largesrc="image/product/t2_p1_05.jpg" data-title="防爆胶泥" data-description="防爆密封胶泥采用多种德国进口高分子聚合物，添加剂，增塑剂等经过特殊工艺配置而成，是一种深黑色，无溶剂（无味），环保，对人体无害的无规则外型的胶泥状物。">
							<img  data-original="image/product/t2_p1_05.jpg"  class="lazy" alt="防爆胶泥">
							<div class="hover-mask">
								<h3>防爆胶泥</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t1">
						<a href="T1P2_singleproduct.html" data-largesrc="image/product/t1_p2_01.jpg" data-title="玻璃棉" data-description="离心玻璃棉是将处于熔融状态的玻璃用离心喷吹法工艺进行纤维化喷涂热固性树脂制成的丝状材料，再经过热固化深加工处理，可制成具有多种用途的系列产品。">
							<img data-original="image/product/t1_p2_01.jpg"  class="lazy" alt="玻璃棉">
							<div class="hover-mask">
								<h3>玻璃棉</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P1_singleproduct.html" data-largesrc="image/product/t2_p1_01.jpg" data-title="阻火包" data-description="新型防火包|阻火包是我公司根据GB23864-2009国家标准研制成功的新型防火配套耐火材料,该产品可根据用户不同的要求垒制成各种形状的防火墙、防火层,亦可封堵需要作防火处理的孔洞。">
							<img  data-original="image/product/t2_p1_01.jpg"  class="lazy" alt="阻火包">
							<div class="hover-mask">
								<h3>阻火包</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P2_singleproduct.html" data-largesrc="image/product/t2_p2_01.jpg" data-title="阻火圈" data-description="本产品具有结构紧凑，造型美观，防渗漏与防火措施有机结合，施工安装方便等优点，为UPVC排水管在工业与民用建筑，特别是高层建筑中的推广应用提供了有力的消防保障。">
							<img  data-original="image/product/t2_p2_01.jpg"  class="lazy" alt="阻火圈">
							<div class="hover-mask">
								<h3>阻火圈</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P3_singleproduct.html" data-largesrc="image/product/t2_p1_02.jpg" data-title="防火泥" data-description="该材料主要用于电线，电缆的孔洞封堵，以防止电线、电缆发生火灾而由孔洞向邻室蔓延，减少火灾损失。避免事故的扩大具有阻烟、防火、防尘等功能。">
							<img  data-original="image/product/t2_p1_02.jpg"  class="lazy" alt="防火泥">
							<div class="hover-mask">
								<h3>防火泥</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t4">
						<a href="T3P1_singleproduct.html" data-largesrc="image/product/t3_p1_01.jpg" data-title="硅酸铝针刺毯" data-description="硅酸铝板由精选优质焦宝石经2000℃以上电炉熔化，通过机械喷吹成纤维并均匀加入特制的粘结剂，防油剂，憎水剂经加热固化而成。主要用于电力工业、电力锅炉、汽轮机及核电隔热、船舶工业的防火隔热、建筑业、防火门的防火隔热...">
							<img  data-original="image/product/t3_p1_01.jpg"  class="lazy" alt="硅酸铝针刺毯">
							<div class="hover-mask">
								<h3>硅酸铝针刺毯</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t3">
						<a href="T3P2_singleproduct.html" data-largesrc="image/product/t3_p2_01.jpg" data-title="聚氨酯复合板" data-description="聚氨酯保温复合板由双面柔性面材和聚氨酯硬泡经专用生产线一次性连续生产而成，呈夹心结构。双面无纺布经过特殊处理，保证层间粘结良好；中间PU硬泡保温层采用先进的混料和布料工艺，泡孔细腻，密度均匀，强度及隔热性能得到可靠保证。">
							<img  data-original="image/product/t3_p2_01.jpg"  class="lazy" alt="聚氨酯复合板">
							<div class="hover-mask">
								<h3>聚氨酯复合板</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P5_singleproduct.html" data-largesrc="image/product/t2_p1_03.jpg" data-title="阻火块" data-description="用防火材料制成的具有一定形状和尺寸规格的固体，可以方便地切割和钻孔，适用于孔洞或电缆桥架的防火封堵。">
							<img  data-original="image/product/t2_p1_03.jpg"  class="lazy" alt="阻火块">
							<div class="hover-mask">
								<h3>阻火块</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t1">
						<a href="T3P3_singleproduct.html" data-largesrc="image/product/t3_p3_03.jpg" data-title="橡塑" data-description="抗震性能橡塑保温管具有很高的弹性，因而能最大限度地减少冷冻水和热水管道在使用过程中的振动和共振。
						柔韧性能橡塑保温管具有良好的绕性及韧性，施工中容易处理弯曲和不规则的管道，而且可以省工省料。
						安装方便，外形美观?因本产品富柔软性，安装简易方便。">
							<img  data-original="image/product/t3_p3_03.jpg"  class="lazy" alt="橡塑">
							<div class="hover-mask">
								<h3>橡塑</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->	
					<li class="mix t2">
						<a href="T2P6_singleproduct.html" data-largesrc="image/product/t2_p1_04.jpg" data-title="防火隔板" data-description="防火隔板主要适用于各类电压等级的电缆在支架或桥架上敷设时的防火保护和耐火分隔，大量应用在国内各类发电厂、化工企业、钢铁冶炼企业、矿山等电缆密集场所的电缆工程的防火阻燃。也是大型商场、酒店、宾馆、文体会馆、封闭式服装市场、轻工市场、影剧院等公共场所室内装饰防火阻燃工程的最佳防火阻燃材料。">
							<img  data-original="image/product/t2_p1_04.jpg"  class="lazy" alt="防火隔板">
							<div class="hover-mask">
								<h3>防火隔板</h3>
								<span>
									<i class="fa fa-search fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
                	
				</ul> <!-- end og grid -->

				<div class="all-post text-center">
					<a class="btn btn-transparent" href="productlist.html" target="_blank">查看更多</a>
				</div>
			</div>  <!-- portfolio items wrapper -->
			
		</section>   <!-- End section -->
		
		<!-- Start Our Team
		=========================================== -->
		
		<section id="our-team" >
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeInUp" data-wow-duration="500ms">
						<h2>工程<span class="color">案例</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo1.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>河北冀州广电大厦</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo2.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>石家庄勒泰中心</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo3.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>中央电视台总部大楼</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo4.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>重庆未来国际大厦</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo5.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>廊坊万达广场</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo6.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>大连星海广场</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo7.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>哈尔滨理工大学</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					<!-- team member -->
					<div class="col-md-3 col-sm-6 wow fadeInDown" data-wow-duration="500ms">
                       <article class="team-mate">
							<div class="member-photo">
								<!-- member photo -->
								<img class="img-responsive lazy" data-original="image/demo/demo8.jpg"  alt="1">
								<!-- /member photo -->
								<!-- member social profile -->
								<!-- <div class="mask">
								</div> -->
								<!-- /member social profile -->
							</div>
							
							<!-- member name & designation -->
							<div class="member-title">
								<h3>呼和浩特金川大厦</h3>
								<!-- <span>CEO/Founder</span> -->
							</div>
							<!-- /member name & designation -->
							
							<!-- about member -->
                           <!-- <div class="member-info">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
                           </div> -->
						   <!-- /about member -->
						   
                       </article>
                    </div>
					<!-- end team member -->
					
					
					
					
				</div>  	<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		<!--
		Start Blog Section
		=========================================== -->
				
		<section id="blog" class="bg-one">
			<div class="container">
				<div class="row">

					<!-- section title -->
					<div class="title text-center wow fadeInDown">
						<h2><span class="color">最新</span>资讯</h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->

					<div class="clearfix">
					
						<!-- single blog post -->
						<article class="col-md-3 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="100ms">
							<div class="note">
								<div class="media-wrapper">
									<img  class="img-responsive lazy" data-original="image/news/news01.jpg" alt="news01" >
								</div>
								
								<div class="excerpt">
									<h3>橡塑保温板满足市场需求性价比高</h3>
									<p>橡塑保温板作为一种新型的优质的绝热保温材料，不断出现在我们的生活各处，以其优良的性能在保温材料市场中占据着高大上的位置...</p>
									<a class="btn btn-transparent" href="single-post_news01.html" target="_blank">了解详情</a>
								</div>
							</div>						
						</article>
						<!-- /single blog post -->
						
						<!-- single blog post -->
						<!-- <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
							<div class="note">
								<div id="gallery-post" class="media-wrapper">
									<div class="item">
										<img src="image/news/news02.jpg" alt="news02" class="img-responsive">
									</div>
									<div class="item">
										<img src="img/blog/bicycle.jpg" alt="Flying bicycle" class="img-responsive">
									</div>
									<div class="item">
										<img src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
									</div>
								</div>
								
								<div class="excerpt">
									<h3>Simple Slider Post</h3>
									<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non skateboard dolor brunch.</p>
									<a class="btn btn-transparent" href="single-post.html" target="_blank">了解详情</a>
								</div>
							</div>						
						</article> -->
						<!-- end single blog post -->
						
						<!-- single blog post -->
						<article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
							<div class="note">
								<div class="media-wrapper">
									<img  class="img-responsive lazy" data-original="image/news/news02.jpg" alt="news02">
								</div>
								
								<div class="excerpt">
									<h3>保温技术研讨会在庆辉公司召开</h3>
									<p>2016年8月16日，以“节能、绿色、低碳生活”为主题的2016河北石家庄建筑外墙保温技术研讨会(HBL硬泡聚氨酯板材)在庆辉公司召开。</p>
									<a class="btn btn-transparent" href="single-post_news02.html" target="_blank">了解详情</a>
								</div>
							</div>						
						</article>
						<!-- end single blog post -->
						
						<!-- single blog post -->
						<article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
							<div class="note kill-margin-bottom">
								<div class="media-wrapper">
									<img  class="img-responsive lazy" data-original="image/news/news03.jpg" alt="news03">
								</div>
								<div class="excerpt">
									<h3>玻璃棉板对建筑外墙保温的影响</h3>
									<p>建筑外墙保温是一项非常重要的工程，在我们的生活中任何建筑失去了这种保温的性能，不只是会造成能源上的巨大浪费...</p>
									<a class="btn btn-transparent" href="single-post_news03.html" target="_blank">了解详情</a>
								</div>
							</div>						
						</article>
						<!-- end single blog post -->
						
						<!-- single blog post -->
						<article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
							<div class="note kill-margin-bottom">
								<div class="media-wrapper">
									<img class="img-responsive lazy" data-original="image/news/news04.jpg" alt="news04">
								</div>
								<div class="excerpt">
									<h3>橡塑保温板具有优良的防火性能</h3>
									<p>如何从各项性能上了解橡塑保温管？作为建筑行业应该都知道橡塑保温管，橡塑保温管在防火性能上是优于普通橡塑产品，符合各种工程的消防要求。</p>
									<a class="btn btn-transparent" href="single-post_news04.html" target="_blank">了解详情</a>
								</div>
							</div>						
						</article>
						<!-- end single blog post -->
					</div>

					<div class="all-post text-center">
						<a class="btn btn-transparent" href="single-post_news01.html" target="_blank">查看更多</a>
					</div>

				</div> <!-- end row -->
			</div> <!-- end container -->
		</section> <!-- end section -->
		
		<!-- Srart Contact Us
		=========================================== -->		
		<section id="contact-us">
			<div class="container">
				<div class="row">
					
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2>联系<span class="color">我们</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->
					
					<!-- Contact Details -->
					<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
						<h3>联系详情</h3>
						<p></p>
						<div class="contact-details">
							<div class="con-info clearfix">
								<i class="fa fa-home fa-lg"></i>
								<span>公司地址：河北省廊坊市大城县留各庄</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-phone fa-lg"></i>
								<span>贾经理：18531835130</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-phone fa-lg"></i>
								<span>李经理：13103061207</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-qq fa-lg"></i>
								<span>QQ：748672175</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-qq fa-lg"></i>
								<span>QQ：1632883788</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-envelope fa-lg"></i>
								<span>Email: 748672175@qq.com</span>
							</div>
							
							<div class="con-info clearfix">
								<i class="fa fa-fax fa-lg"></i>
								<span>传真地址：0316-5888843</span>
							</div>
						</div>
					</div>
					<!-- / End Contact Details -->
						
					<!-- Contact Form -->
					<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<form id="contact-form" role="form">
						
							<div class="form-group">
								<input type="text" placeholder="您的姓名" class="form-control" name="name" id="Name">
							</div>

							<div class="form-group">
								<input type="text" placeholder="您的手机" maxlength="11" class="form-control" name="phone" id="Phone">
							</div>
							
							<div class="form-group">
								<input type="email" placeholder="您的邮箱" class="form-control" name="email" id="Email">
							</div>
			
							
							<div class="form-group">
								<textarea rows="6" style="resize: none;" placeholder="您的需求" class="form-control" name="message" id="Message"></textarea>	
							</div>
							
							<div id="mail-success" class="success" >
								信息提交成功,客服将尽快与您联系 :)
							</div>
							
							<div id="mail-fail" class="error">
								服务器被外星人带走了,稍后再试吧 :(
							</div>
							
							<div id="cf-submit">
								<input style="width:100%;" type="button" onclick="sub();" id="Contact-submit" class="btn btn-transparent" value="提交">
							</div>						
							
						</form>
					</div>
					<!-- ./End Contact Form -->
				
				</div> <!-- end row -->
			</div> <!-- end container -->	
			
		</section> <!-- end section -->
		
		<!-- end Contact Area
		========================================== -->
		
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
								<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
								<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Slitslider -->
		<script src="js/jquery.slitslider.js"></script>
		<script src="js/jquery.ba-cond.min.js"></script>
		<!-- Parallax -->
		<script src="js/jquery.parallax-1.1.3.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Portfolio Filtering -->
		<script src="js/jquery.mixitup.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- Jappear js -->
		<script src="js/jquery.appear.js"></script>
		<!-- Pie Chart -->
		<script src="js/easyPieChart.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- tweetie.min -->
		<script src="js/tweetie.min.js"></script>
		<!-- Google Map API -->
		
		<!-- Highlight menu item -->
		<script src="js/jquery.nav.js"></script>
		<!-- Sticky Nav -->
		<script src="js/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script src="js/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Grid js -->
		<script src="js/grid.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>