<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>产品列表</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">
		
		            
		
		
		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			
		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog"><h4>产品列表</h4></a></li>
                        
                    </ul>
                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-bottom: 30px;padding-top: 95px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1>产品列表</h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->

        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-8 col-sm-8">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms" >
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t1_p1_01.jpg" alt="t1_p1_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">岩棉</a></h3>
									<p>岩棉是以精选的辉绿岩和玄武岩矿渣为主要原料，经过高温融化在告诉离心过程中喷入特质粘合剂和防水剂而制成的树脂岩棉和防水岩棉。可制成岩棉板、毡、管、条。具有导热系数小，吸声性能好不燃，化学稳定性好等特点。是一种新型的保温，隔热，吸声的材料。防水岩棉有一定的化学稳定性，即使在潮湿的情况下长期使用也不会发生潮解，根据JISA95-1979方式测验，憎水率在98%以上，由于制品不含氟（F-）氯（CL）。因此对设备无腐蚀作用，由于产品质量和种类的多样化，因此备受广大用户的欢迎。是建筑物、管道、储罐、蒸馏塔、锅炉、烟道、热交换器、风车和车船等工业设备优良的保温、隔热、隔冷、吸声的理想材料。</p>
									<a class="btn btn-transparent" target="_blank" href="T1P1_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">岩棉类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t1_p2_01.jpg" alt="t1_p2_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">玻璃棉</a></h3>
									<p>
离心玻璃棉是将处于熔融状态的玻璃用离心喷吹法工艺进行纤维化喷涂热固性树脂制成的丝状材料，再经过热固化深加工处理，可制成具有多种用途的系列产品。它具有阻燃、无毒、耐腐蚀、容重小、导热系数低、化学稳定性强、吸湿率低、憎水性好等诸多优点，是目前公认的性能最优越的保温、隔热、吸音材料，具有十分广泛的用途。用该材料制成的板、毡、管已大量用于建筑、化工、电子、电力、冶金、能源、交通等领域的保温隔热、吸声降噪，效果十分显著。
							由于离心玻璃棉质地柔软、纤维微细，施工中不会刺激皮肤，因而深受施工单位欢迎，成为保温隔热的首选产品。									</p>
									<a class="btn btn-transparent" target="_blank" href="T1P2_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>235 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">岩棉类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t2_p1_01.jpg" alt="t2_p1_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">阻火包</a></h3>
									<p>
										新型防火包|阻火包是我公司根据GB23864-2009国家标准研制成功的新型防火配套耐火材料,该产品可根据用户不同的要求垒制成各种形状的防火墙、防火层,亦可封堵需要作防火处理的孔洞。遇火时,防火包,阻火包的物质受热膨胀,结成蜂窝状整块,有效地将火灾控制在局部范围之内。用防火包,阻火包做隔墙,取代了过去用耐火砖、矿渣棉、陶瓷棉等材料,与它们相比,防火包,阻火包有显著的隔热效果。
									</p>
									<a class="btn btn-transparent" target="_blank" href="T2P1_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">阻火类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t2_p2_01.jpg" alt="t2_p2_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">阻火圈</a></h3>
									<p>
										本产品具有结构紧凑，造型美观，防渗漏与防火措施有机结合，施工安装方便等优点，为UPVC排水管在工业与民用建筑，特别是高层建筑中的推广应用提供了有力的消防保障。本产品贯穿明装或暗装固定在楼板部位或墙体两侧，阻火效果好，耐火时间长，具有优良的耐火、耐潮湿、抗氧化性能，结构紧密、造型美观、安装方便等优点。?随着中国的经济高速发展以及建设热、房地产热过后，暴露的安全、环保、能源等问题日益突出。塑料管道在各类公共和民用建筑中得到广泛应用，但塑料管道往往容易成为火灾传播的通道，塑料管道遇热火烧毁后形成的孔洞像一个烟囱，使火焰和烟气从一层沿管道蔓延和扩散至另一层，或从一个房间蔓延和扩散到另一个房间，使火灾损失扩大。世界各国消防组织得出一致的结论，塑料管道是火灾道蔓延和扩散的罪魁祸首						
									</p>
									<a class="btn btn-transparent" target="_blank" href="T2P2_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">阻火类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t2_p3_02.jpg" alt="t2_p3_02" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">防火泥</a></h3>
									<p>
										柔性有机防火堵料是我公司根据GB23864-2009标准研制成功的新型产品，具有耐火极限高、发烟量低等特点。该产品还具有良好的可塑性，耐酸、耐碱、耐腐蚀性，施工、维修比较方便，并能与其他封堵材料（如防火包等）合并应用。
									</p>
									<a class="btn btn-transparent" target="_blank" href="T2P3_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">阻火类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t3_p1_01.jpg" alt="t3_p1_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">硅酸铝针刺毯</a></h3>
									<p>
										硅酸铝板由精选优质焦宝石经2000℃以上电炉熔化，通过机械喷吹成纤维并均匀加入特制的粘结剂，防油剂，憎水剂经加热固化而成。主要用于电力工业、电力锅炉、汽轮机及核电隔热、船舶工业的防火隔热、建筑业、防火门的防火隔热、化工工业高温反应设备及加热设备的壁衬、汽车、火车制造业、防火、隔热、窑炉砌衬、炉门、顶盖密。
										硅酸铝制品在初次使用时、当构件温度超过200℃时硅酸铝制品会出现轻度烟雾，此为硅酸铝粘结剂挥发，短时间内硅酸铝制品会变为褐色，运行1-3天后硅酸铝自然恢复原白色，而且对产品质量不会造成任何的影响
									</p>
									<a class="btn btn-transparent" target="_blank" href="T3P1_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">其他类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t1_p2_01.jpg" alt="t3_p2_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">聚氨酯复合板</a></h3>
									<p>
										聚氨酯保温复合板由双面柔性面材和聚氨酯硬泡经专用生产线一次性连续生产而成，呈夹心结构。双面无纺布经过特殊处理，保证层间粘结良好；中间PU硬泡保温层采用先进的混料和布料工艺，泡孔细腻，密度均匀，强度及隔热性能得到可靠保证。
									</p>
									<a class="btn btn-transparent" target="_blank" href="T3P2_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">其他类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                            
                            <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="post-thumb">
                                    <a href="javascript:void(0);">
										<img src="image/product/t3_p3_01.jpg" alt="t3_p3_01" class="img-responsive">
									</a>
                                </div>
								<div class="post-excerpt">
									<h3><a href="single-post.html">橡塑</a></h3>
									<p>
										抗震性能橡塑保温管具有很高的弹性，因而能最大限度地减少冷冻水和热水管道在使用过程中的振动和共振。
										柔韧性能橡塑保温管具有良好的绕性及韧性，施工中容易处理弯曲和不规则的管道，而且可以省工省料。
										安装方便，外形美观?因本产品富柔软性，安装简易方便。管道安装：可套上后一起安装，也可将本管材纵向切开后再用铝箔胶带粘合而成。对阀门、三通、弯头等复杂部件，可将板材裁剪后，按不同形状包上粘合，确保整个系统的严密性，从而保证了整个系统的保温性。又因本材料外表有橡胶的光滑平整，以及它本身的优异性能，不需另加隔汽层，防护层，减少了施工中的麻烦，也保证了外形美观、平整。当设备或管道检修时，剥离下来的本材料可重复使用，性能不变。
									</p>
									<a class="btn btn-transparent" target="_blank" href="T3P3_singleproduct.html">查看详情</a>
								</div>
								<div class="post-meta">
									<span class="post-view">
										<i class="fa fa-eye"></i>2650 查看
									</span>
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:void(0);">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">其他类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
                           
                               
                            <nav class="post-pagination wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">
                                <ul>
                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">10</a></li>
                                    <li><a href="#">11</a></li>
                                    <li><a href="#">12</a></li>
                                    <li><a href="#">13</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    
                    <!-- Widget Section -->
                    <div id="right-sidebar" class="col-md-4 col-sm-4">
                       
                       <!-- Single Widget -->
                        <aside class="widget wow fadeInUp"  data-wow-duration="1000ms">
							<div class="widget-title">
                               <h3>查找</h3>
							</div>
                           <div class="widget-content">
                                <form action="#" id="search-form" method="get" role="search">
                                    <input type="text" class="form-control" placeholder="产品名" autocomplete="on" name="seach">
                                    <button type="submit" title="Search" id="search-submit">
										<i class="fa fa-search"></i>
									</button>
                                </form>
                           </div>
                        </aside>
                        <!-- End Single Widget -->
						
                       <!-- Single Widget -->
                        <!-- <aside class="widget wow fadeInDown">
							<div class="widget-title">
                               <h3>Text Widget</h3>
							</div>
							<div class="widget-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ducimus in dolorum accusantium voluptate nostrum, excepturi dolores voluptatem vel rerum at, recusandae inventore nobis ex eveniet sunt eligendi, qui provident.</p>
							</div>
                        </aside> -->
                        <!-- End Single Widget -->
                       
                       <!-- Single Widget -->
                        <!-- <aside class="widget wow fadeInUp">
							<div class="widget-title">
								<h3>Tab	 Widget</h3>
							</div>
								
							<div class="widget-content">
								<ul class="tab-post-nav clearfix">
									<li class="active"><a href="#popular" data-toggle="tab">Popular Post</a></li>
									<li><a href="#recent" data-toggle="tab">Recent Post</a></li>
									<li><a href="#most-viewed" data-toggle="tab">Most Viewed</a></li>
								</ul>
								
								<div class="tab-content">
									<article class="tab-pane active tab-post" id="popular">
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/3D-beach-art.jpg" class="img-responsive" alt="3D Beach Art | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/amazing-caves-coverimage.jpg" class="img-responsive" alt="amazing-caves-coverimage | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
									</article>
									
									<article class="tab-pane tab-post" id="recent">
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/amazing-caves-coverimage.jpg" class="img-responsive" alt="amazing-caves-coverimage | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/3D-beach-art.jpg" class="img-responsive" alt="3D Beach Art | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
									</article>	
									
									<article class="tab-pane tab-post" id="most-viewed">
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/bicycle.jpg" class="img-responsive" alt="bicycle | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
										<div class="clearfix">
											<div class="tab-thumb">
												<img src="img/blog/3D-beach-art.jpg" class="img-responsive" alt="3D Beach Art | Meghna">
											</div>
											<div class="tab-excerpt">
												<h4><a href="single.html">Post Title Demo</a></h4>
												<span>November 15 2014</span>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, laboriosam molestiae aliquam rem enim earum eos suscipit! Dolore, molestiae, quidem quo quam deleniti ullam dicta. Incidunt, quaerat est deserunt voluptatum.</p>
											</div>
										</div>
									</article>									
									
								</div>
								
							</div>
                        </aside> -->
                        <!-- End Single Widget -->
                       
                       <!-- Single Widget -->
                       <!--  <aside class="widget wow fadeInDown">
							<div class="widget-title">
                               <h3>Newsletter</h3>
                               <p>Signup to receive email updates and to hear what's going on with my blog!</p>
							</div>
							<div class="widget-content">
                                <form action="">
                                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required="">
                                    <input type="submit" value="Subscribe" class="btn btn-transparent">
                                </form>
							</div>
                        </aside> -->
                        <!-- End Single Widget -->
                       
                       <!-- Single Widget -->
                        <!-- <aside class="widget wow fadeInDown">
							<div class="widget-title">
                               <h3>Categories</h3>
							</div>
							<div class="widget-content">
                                <ul class="categories">
                                    <li><i class="fa fa-plus"></i> <a href="#">Marketing Policy</a></li>
                                    <li><i class="fa fa-plus"></i> <a href="#">Business Strategy</a></li>
                                    <li><i class="fa fa-plus"></i> <a href="#">Web Research</a></li>
                                    <li><i class="fa fa-plus"></i> <a href="#">Web Development</a></li>
                                    <li><i class="fa fa-plus"></i> <a href="#">Business Model</a></li>
                                </ul>
							</div>
                        </aside> -->
                        <!-- End Single Widget -->
                       
                       <!-- Single Widget -->
                        <!-- <aside class="widget wow fadeInDown">
							<div class="widget-title">
                               <h3>Tag Cloud</h3>
							</div>
							<div class="widget-content">
                                <a class="tag" href="#">Mobile</a>
                                <a class="tag" href="#">Web</a>
                                <a class="tag" href="#">Electronics</a>
                                <a class="tag" href="#">SEO</a>
                                <a class="tag" href="#">Business Story</a>
                                <a class="tag" href="#">Post Query</a>
                                <a class="tag" href="#">HTML5</a>
                                <a class="tag" href="#">CSS3</a>
                                <a class="tag" href="#">jQuery</a>
                                <a class="tag" href="#">Javascript</a>
							</div>
                        </aside> -->
                        <!-- End Single Widget -->
                        
                    </div>
                    <!-- End Widget Section -->

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
							<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2018</span></h3> 
							<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Back to Top -->
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>