<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>资讯详情</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">


		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			/* img {
				width:80%;
				height:350px;
			} */
			
		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html" target="_self"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog" target="_self"><h4>资讯详情</h4></a></li>
                        
                    </ul>

                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-bottom: 0px;padding-top: 00px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
										<img style="margin:0 auto" src="image/news/news04.jpg" alt="" class="img-responsive">
                                </div>
								<div class="post-excerpt">
									<h3 style="text-align:center;color:#4ba550;">橡塑保温板具有优良的防火性能</h3>
									
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										如何从各项性能上了解橡塑保温管？作为建筑行业应该都知道橡塑保温管，橡塑保温管在防火性能上是优于普通橡塑产品，符合各种工程的消防要求。除橡塑绝热层在防火性能上符合GB-8624-2012,B1级和0级的要求外，其复合的A级不燃面材能使用在消防要求更苛刻的场所。如常规类T140，将A级不燃材料与橡塑绝热层完美结合，更有防火涂层，将防火性能再向前推进一步。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										庆辉橡塑保温材料中的橡塑保温管导热系数低，完全闭孔结构，绝热效果持久良好。材料与水汽完全隔绝，不吸水、不凝露、使用寿命长，经过SGS检测，其实测值远远低于欧盟关于不含有毒物质的标准值，使用健康安全，外表柔软美观、易弯曲、施工方便快捷、而且无需其他辅材。其较好的耐温耐侯性使其非常适合于太阳能热水器热水管保温；汽车空调管，蒸汽管保温；还可广泛应用于减震和吸音降噪等场合。
									</p>
									<p>
										<h4 style="color:#4ba550;">橡塑保温管独特的优点：</h4>1.闭泡式结构能够有效地阻止热传导
										  <br>2.导热系数，在0°C时不超过0.034W/m?k。
										  <br>3.表面放热系数高，达到9W/m2k
										  <br>4.具有优异的抗水汽渗透能力 湿阻4,500(DIN 52615)构成"内置"的防水汽层，使保温板整体既是保温层又是防潮层。
										  <br>5.防火性能好 氧指数28以上
										  <br>6.安装简易快捷
										  <br>7.不含CFC, HFC或HCFC等含烃材料 不含甲醛、粉尘和纤维
										  <br><br>橡塑保温板具有优良的防火性能。按照国标GB/T17794-1999《建筑材料燃烧性能分级方法》，橡塑海绵保温板经测试判定为GB/17794-1999 B2级难燃材料。
									</p>
									<p>
										<h4 style="color:#4ba550;">庆辉橡塑保温管的应用领域：</h4>中央空调系统制冷机组与设备、冷冻水管、冷凝水管、风管及热水管道、从橡塑保温管的各项性能上可以看出橡塑保温管的独特性能，防火方面绝对是的保温材料。
									</p>

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-03-01
									</span>
									<span class="post-view">
										<i class="fa fa-eye"></i>9850 阅读
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:;">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="#">橡塑</a>, <a href="#">保温板</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="single-post_news03.html" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一篇
                                </a>
                                <a href="single-post_news01.html" class="next-post pull-right">
                                    下一篇<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>
                            
                            <!--
                            <div class="comment-reply-form">
                               <h3>Leave a Replay</h3>
                                <form id="comment-form" method="post" action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name *" id="name" name="name" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="E-mail *" id="email" name="email" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website" id="website" name="website">
                                    </div>
                                    
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Message *" id="message" name="message" rows="5" cols="5" required></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" id="post-comment" value="Post Comment" class="btn btn-transparent">
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- End Single Post -->

                        </div>
                    </div>
                       

                        
                    </div>
                    <!-- End Widget Section -->

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
								<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
								<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Back to Top -->
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>