<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>资讯详情</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">


		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			/* img {
				width:80%;
				height:350px;
			} */
			
		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html" target="_self"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog" target="_self"><h4>资讯详情</h4></a></li>
                        
                    </ul>

                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-bottom: 0px;padding-top: 00px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
										<img style="margin:0 auto;" src="image/news/news02.jpg" alt="" class="img-responsive">
                                </div>
								<div class="post-excerpt">
									<h3 style="text-align:center;color:#4ba550;">2016河北(高淳)建筑外墙保温技术研讨会在庆辉公司召开</h3>
									
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										2016年8月16日，以“节能、绿色、低碳生活”为主题的2016河北石家庄建筑外墙保温技术研讨会(HBL硬泡聚氨酯板材)在庆辉公司召开。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										该研讨会由石家庄市勘察设计行业协会和河北墙体材料革新与建筑节能行业协会联合主办，高石家庄城乡建设局支持。目的在于为建筑行业各方搭建沟通交流平台，对HBL硬泡聚氨酯板材进行技术研讨，并向河北地区的设计单位和房地产公司进行推介，让性能优秀的HBL硬泡聚氨酯外墙保温材料广泛应用到市场中，为河北的老百姓享受到实在的利益。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										会上，石家庄委常委王清平先生致欢迎词，他充分肯定了庆辉公司近年来的发展，对廊坊庆辉公司新材料有限公司推出的HBL硬泡聚氨酯保温板给予了高度评价，认为该产品符合绿色节能理念，保温性能稳定，同时，又能达到防火要求。他表示，对庆辉公司生产的绿色建筑产品，市政府将继续支持和推广。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										据悉，庆辉公司从事聚氨酯领域三十年，有丰富的技术积累和沉淀，掌握了应用于冰箱行业高端市场的聚氨酯技术，这也是庆辉新材料有限公司能够做高品质 建筑保温板的有力保证。HBL硬泡聚氨酯保温板采用杂环多元醇技术，以高支化度的多元醇为基础，引入耐温、难燃、低烟、低毒环状结构化合物和含磷、氮的链 结构，从分子结构上进行改性，在技术上引领行业创新发展。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										该保温板自 2013年开始在石家庄保障房中被使用，目前已达到近700万平米的工程。产品在应用过程中得到了广泛认可，通过了第三方绿色建筑产品认证和住建部康居认 证，符合国家绿色建筑和康居住宅示范工程项目的要求。更值得一提的是，该聚氨酯保温板产品由中国人民财产保险股份有限公司(PICC)承保产品质量责任险，一旦 出现质量问题，除有公司负责以外，由PICC承担经济赔偿责任，这无异于给建设施工单位吃了一粒定心丸。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										本次会议得到了建筑行业各界的广泛支持，南京市城乡建设委员会、石家庄市建设工程施工图设计审查管理中心、石家庄市建筑节能管理办公室，市政府相关主管领导 悉数到场，河北省建筑设计研究院有限公司、东南大学建筑设计研究院有限公司、石家庄市建筑设计研究院有限公司、河北都市建筑设计股份有限公司等20多家 本地知名设计单位应邀出席，朗诗集团地产等大型房地产商相关负责人来到会议现场，研讨会氛围热烈，推介取得了预期效果。
									</p>

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2016-9-18
									</span>
									<span class="post-view">
										<i class="fa fa-eye"></i>3509 阅读
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:;">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="#">研讨会</a>, <a href="#">庆辉公司</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="single-post_news01.html" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一篇
                                </a>
                                <a href="single-post_news03.html" class="next-post pull-right">
                                    下一篇<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>
                            
                            <!--
                            <div class="comment-reply-form">
                               <h3>Leave a Replay</h3>
                                <form id="comment-form" method="post" action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name *" id="name" name="name" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="E-mail *" id="email" name="email" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website" id="website" name="website">
                                    </div>
                                    
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Message *" id="message" name="message" rows="5" cols="5" required></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" id="post-comment" value="Post Comment" class="btn btn-transparent">
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- End Single Post -->

                        </div>
                    </div>
                       

                        
                    </div>
                    <!-- End Widget Section -->

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
								<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
								<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Back to Top -->
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>