<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>资讯详情</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">


		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			/* img {
				width:80%;
				height:350px;
			} */
			
		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html" target="_self"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog" target="_self"><h4>资讯详情</h4></a></li>
                        
                    </ul>

                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-bottom: 0px;padding-top: 00px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
										<img style="margin:0 auto;" src="image/news/news03.jpg" alt="" class="img-responsive">
                                </div>
								<div class="post-excerpt">
									<h3 style="text-align:center;color:#4ba550;">玻璃棉板对建筑外墙保温的影响</h3>
									
									<p>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建筑外墙保温是一项非常重要的工程，在我们的生活中任何建筑失去了这种保温的性能，不只是会造成能源上的巨大浪费，也会使我们生活的环境非常的不舒服，下面玻璃棉板厂家就分析一下玻璃棉板对建筑外墙保温的重大影响。
									</p>
									<p>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前全国离心玻璃棉产能达到100万吨，河北地区集中了51条玻璃棉生产线，近60万吨的产能（全国共87条生产线），占全国总产能的60%左右。除此之外，山东、江浙、安徽、四川、广东等地区也是玻璃棉产能相对集中的地区。
									</p>
									<p>
										<h4 style="text-align:center;color:#4ba550;">节能趋势主导市场</h4>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关于全球保温材料市场的研究显示，2015年全球保温材料市场估值高达165.5亿美元。在政府大力推广零能源计划之下，保温材料市场预计将会快速发展。在市场潜力方面，弗若斯特沙利文公司预计2016年全球保温材料市场估值大约在229.9亿美元，销售量有望达到1905.6万吨，从2016年到2021年的年均复合增长率将达到4.4%。市场竞争方面，矿物纤维保温材料价格较为统一而塑料泡沫保温材料市场仍存在分化，尤其在欧洲和亚太地区。未来对于阻燃性以及R指标的关注有望提高传统保温材料(如EPS、玻璃棉以及PUR)的销售量。对于全球保温材料市场的未来趋势，公司做出了如下预测：未来，2016年至2021年，全球保温材料市场的销售量年复合增长率将达到4.8%，市场将扩大4.4%。全球节能趋势将会作为保温材料市场发展的关键因素。
									</p>
									<p>
										<h4 style="text-align:center;color:#4ba550;"> 市场发展主要动力</h4>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;研究指出，2016-2021年，全球保温市场主要驱动力包括以下几点:
									       <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一，采取严格建筑标准。地方政府机构应该出台有效政策引导市场。例如德国政府通过最新法案规定联邦负责制定建筑的能源效率指标，改善能源建筑的比例。亚太地区则由于政府未有明确的态度和方案，市场上没有针对建筑能源指标强制性的法规约束。目前，中国及新加坡正在更新建筑条例，并实施了能源效率建筑的建设。
									       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二，制定建筑证书以及评级系统。国际组织针对不同建筑标准制定了各种证书。在这些因素的刺激下，美国绿色建筑在过去十年间翻了7倍，预计在未来五年内持续增长。在加拿大、英国等其他国家，政府也实行了绿色建筑的税收以及对房屋持有人的资金补助政策以达到绿色建筑的建设。
									       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三，提供专属建筑方案(欧洲市场)。在欧洲，建筑用电占欧洲总耗电的40%以及温室气体排放量的36%。能源效率指令的新规使建筑承包人以及建筑商开始着手制定以及实施对建筑保温层的安装和升级工作。在法国，政府发言人也承诺会在控制建筑方面出台新规。
									       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四，北美住宅产业活动复苏。在美国住宅市场中，单一家庭住宅以及多户家庭住宅的房屋建设工作加快了建筑行业复苏。根据美国国家建筑商协会的资料，62%的建筑中有15%的绿色项目，而到2018年这个比例将会升至84%。多年的颓势下，建筑产业预计在2016年达至6%的增长，其中私人投资将会是建设的主要驱动力。
									       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五，昂贵的电费以及能源价格的上升。许多顾客会因为日益高昂的电费对他们房屋进行绝缘建设。就长期来看，建筑商以及房屋所有者也愿意使用绝热性能更好的材料来解决此类问题。
									</p>
									<p>
										<h4 style="text-align:center;color:#4ba550;">产品研发的未来热点</h4>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物理性能：主要由生产和建筑保温施工过程决定。保温材料，尤其塑料泡沫，在高楼建筑领域中存在不够结实的问题。购买者经常投诉在保温层施工仅1-2年内出现保温材料断裂。

								       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隔热性能：原材料以及生产加工机器决定了产品的隔热性能。一些厂商生产的材料经常有相关质量问题，建议厂商投入更多研究开发经费来解决此问题。
								
								       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;防火性能：防火性能是高层建筑的重要考虑因素，而塑料泡沫是其主要材料。如何采用具有高阻燃性的保温材料以及无烟防火是最重要的考虑因素。
								
								       <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;环境问题：塑料泡沫生产的主要材料——氯甲酸甲酯(methylchloroform)、氯氟烃(CFCs)、四氯化物(tetrachloride)等存在破坏臭氧层的环境问题，将被逐步淘汰。而二氧化碳作为保温材料生产过程中的反应物也会对环境产生影响。此外，如何处理生产反应后的废物也是另一大问题。
									</p>
									<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										使用玻璃棉保温材料能够使住宅总节能率达到55%左右。玻璃棉是基于真空绝热和微孔绝热的原理，采用玻璃纤维为芯材，导热系数可以达到0.036W/(m·K)以下，保温性能是传统保温材料的6至10倍。产品从原材料采集到整个生产工艺过程均复合绿色环保要求，无毒无害；不但能确保房屋的冬暖夏凉，隔离噪音，还可以减少结构温差造成的裂缝和渗水，提高结构使用寿命。同时还具有不占室内空间，利于旧房改造等优点。
									</p>

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-02-28
									</span>
									<span class="post-view">
										<i class="fa fa-eye"></i>6850 阅读
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="javascript:;">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="#">玻璃棉</a>, <a href="#">保温</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="single-post_news02.html" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一篇
                                </a>
                                <a href="single-post_news04.html" class="next-post pull-right">
                                    下一篇<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>
                            
                            <!--
                            <div class="comment-reply-form">
                               <h3>Leave a Replay</h3>
                                <form id="comment-form" method="post" action="#">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name *" id="name" name="name" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="E-mail *" id="email" name="email" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Website" id="website" name="website">
                                    </div>
                                    
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Message *" id="message" name="message" rows="5" cols="5" required></textarea>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input type="submit" id="post-comment" value="Post Comment" class="btn btn-transparent">
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- End Single Post -->

                        </div>
                    </div>
                       

                        
                    </div>
                    <!-- End Widget Section -->

				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
								<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
								<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Back to Top -->
		<script src="js/jquery.scrollUp.min.js"></script>
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>