<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title id="title">资讯详情</title>
		
        <meta name="keywords" content="南宁岩棉板厂家、南宁防火材料、南宁保温材料、重庆岩棉板厂家、重庆防火材料、重庆保温建材、安徽硅酸针刺毯、陕西保温材料、郑州保温材料、郑州防火材料、武汉防火材料、西安保温材料、西安防火材料、西安岩棉厂、新疆保温材料">
        <meta name="description" content="廊坊庆辉保温防火建材有限公司坐落于津京走廊、环渤海经济圈中心地带，是集销售、研发、生产和于一体的新型公司。我公司销售保温材料、防火材料、橡胶产品、化工产品。在全球倡导节能环保的今天，廊坊庆辉保温防火建材有限公司以销售绿色保温建材行业独树一帜。卓越的品质、完善的服务、便捷的交通、快速及时的物流系统，使“廊坊庆辉保温防火建材有限公司”销售产品覆盖全国各省、直辖市和自治区，广泛应用于上海创智天地园区、天津轻轨5号线、天津中钢国际广场、京沪高铁、上海恒隆广场等著名建筑和重点工程，“廊坊庆辉保温防火建材有限公司保温材料和玻璃棉制品为上海多个地标建筑提供保温材料， 廊坊庆辉保温防火建材有限公司产品中的保温建材还出口法国、瑞士、荷兰、比利时，在意大利设有办事处能够便捷为周边国家提供服务，还出口马里、毛里塔尼亚、阿尔及利亚等非洲国家，和周边国家：韩国、日本及新加坡等国家。
廊坊庆辉保温防火建材有限公司先后荣获首批“全国诚信守法企业”、“河北省重合同守信用单位”、“河北省著名商标企业”“河北省质量效益型先进企业”等称号，产品成为“河北省优质产品”、“河北省名牌产品”、“河北省高新技术产品”。我公司保温材料得到国际市场认证和好评，在国内的保温材料市场有良好的信誉和质量保证。凸显了廊坊庆辉保温防火建材有限公司产品在行业影响力和廊坊庆辉保温防火建材有限公司产品优异的技术性能，成为中国保温防火材料行业标志性企业。
廊坊庆辉保温防火建材有限公司的防火产品用于电力建设及住房项目的广泛运用，得到了客户的一致好评，公司不断研发新型防火材料每年投入不少于总收入的10%的经费用于研发，并取得了很大的成效，使廊坊庆辉保温防火建材有限公司的防火材料更加环保，防火功能更有保证，在同行业内被不断学习，成为同行业标志性公司。
廊坊庆辉保温防火建材有限公司一直践行“人无信而不立，诚信是公司的根本信条，致力发展更优秀的服务，更先进的生产技术，更便捷的的物流为客户节省成本和时间。更以创新技术”的核心价值观，以打造具有时代意义品牌”为己任，通过严谨的管理，成熟先进的生产技术，更为便捷的物流，更好的服务。着力打造优质环保节能精品，为追求成为值得信赖和尊重的绿色保温防火企业而不懈努力。">
        
        <meta name="author" content="ZooORI.才华有限公司">
		
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- Bootstrap Family Styles -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">

		<script src="js/util/util.js"></script>
		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			
			.carousel-inner img {
				width:100%;
			}
			
		</style>
		
		<script>
			$(function(){
				if(isMobile()){
					$('#qq').hide();
					$('#wechat').hide();
				}
				
				var name,value,id,type; 
				var str=location.href; //取得整个地址栏
				var num=str.indexOf("?"); 
				str=str.substr(num+1); //取得所有参数   stringvar.substr(start [, length ]
				var arr=str.split("&"); //各个参数放到数组里
				//debugger;
				for(var i=0;i < arr.length;i++){ 
				    num=arr[i].indexOf("="); 
				    if(num>0){ 
					     name=arr[i].substring(0,num);
					     value=arr[i].substr(num+1);
					     this[name]=value;
					     if(i==0){
					    	 id = value;
					    	 loadData(id);
					    	 getIds();
					     }else{
					    	 type = value;
					     }
					     
					     //alert('name:'+name+'\nvalue:'+value+'\nindex:'+i);
				     } 
				}
				
			});
			function loadData(id){
				$('#title').html('');
				$('#descript-detail').html('');
				$('#create_time').html('');
				$('#author').html('');
				$('#views').html('');
				$('#type').html('');
				$('#picLi').html('');
				$('#picItem').html('');
				$.ajax({
					url:'/user/selectByKey',
		    		type:'post',
		    		dataType:'json',
		    		cache:false,
		    		data:{
		    				'id':id
		    			},
		    		success:function(data){
		    				console.log(data);
		    				var obj = data.news;
		    				var title = obj.title;
		    				var create_time = obj.createTime;
		    				var views = obj.views;
		    				var author = obj.author;
		    				var description = obj.content;
		    				var type = obj.tag;
		    				
		    				$('#title').html('资讯详情-'+title);
		    				$('#descript-detail').html(description);
		    				$('#create_time').html(create_time);
		    				$('#author').html(author);
		    				$('#views').html(views);
		    				$('#type').html(type);
		    				
		    				//debugger;
		    				var src = obj.img;
		    				if(src){
		    					var srcArr = src.split(',');
		    					var len = srcArr.length-1;
			    				if(len>0){
			    					for(var i=0;i<len;i++){
			    						if(i==0){
			    							$('#picLi').append('<li data-target="#myCarousel" data-slide-to="0" class="active"></li>');
			    							$('#picItem').append('<div class="item active"><img  src="'+srcArr[i]+'" alt="'+i+'"></div>');
			    						}else{
			    							$('#picLi').append('<li data-target="#myCarousel" data-slide-to="'+i+'" ></li>');
			    							$('#picItem').append('<div class="item"><img  src="'+srcArr[i]+'" alt="'+i+'"></div>');
			    						}
			    						
			    					}
			    				}
		    				}
		    				
		    				
		    				
		    			}
				});
			}
			var ids = new Array();
			function getIds(){
					$.ajax({
						url:'/user/listAllNews',
			    		type:'post',
			    		dataType:'json',
			    		cache:false,
			    		data:{

			    			},
			    		success:function(data){
			    				console.log(data);
			    				for(var i=0;i<data.length;i++){
			    					ids.push(data[i].id)
			    				}
			    				//console.log(ids);
			    			}
					});
			}
			var index = 0;
			var id;
			function toPage(type){
				
				console.log(ids);
				if(type=='pre'){
					if(index==0){
						index = ids.length-1;
					}else{
						index = index-1;
					}
					id = ids[index];
					console.log(id+'---------pre');
					loadData(id);
				}else{
					if(index==ids.length-1){
						index = 0;
					}else{
						index = index+1;
					}
					id = ids[index];
					console.log(id+'--------next');
					loadData(id);
				}
				updateViews(id);
			}
			
			function updateViews(id){
		    	 $.ajax({
		    		 url:'/user/newsUpdate',
		    		 type:'post',
		    		 dataType:'json',
		    		 cache:false,
		    		 data:{
		    				'id':id,
		    				'views':'1'
		    			},
		    		 success:function(data){
		    				
		    			}
		    	 })
		     }
		</script>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog"><h4>资讯详情</h4></a></li>
                        
                    </ul>
                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-top:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
                                    <!-- <a href="single-post.html">
										<img src="image/product/t1_p1_01.jpg" alt="t1_p1_01" class="img-responsive">
									</a> -->
									
									<!-- 幻灯片 -->
									<div id="myCarousel" class="carousel slide" >
										<!-- 轮播（Carousel）指标 -->
										<ol id="picLi" class="carousel-indicators">
											
										</ol>   
										<!-- 轮播（Carousel）项目 -->
										<div id="picItem" class="carousel-inner">
											
										</div>
										<!-- 轮播（Carousel）导航 -->
										<a class="carousel-control left " href="#myCarousel" 
										   data-slide="prev">&lsaquo;</a>
										<a class="carousel-control right " href="#myCarousel" 
										   data-slide="next">&rsaquo;</a>
										<!-- 控制按钮 -->
										<div style="text-align:center;display: none">
											<input type="button" class="btn start-slide" value="Start">
											<input type="button" class="btn pause-slide" value="Pause">
											<input type="button" class="btn prev-slide" value="Previous Slide">
											<input type="button" class="btn next-slide" value="Next Slide">
											<input type="button" class="btn slide-one" value="Slide 1">
											<input type="button" class="btn slide-two" value="Slide 2">            
											<input type="button" class="btn slide-three" value="Slide 3">
										</div>
									</div> 
									<script>
										$(function(){
			
											$('#myCarousel').carousel({
												interval: 3000
											});
			
											$("#myCarousel").carousel('cycle');
			
											// 初始化轮播
											$(".start-slide").click(function(){
												
											});
											// 停止轮播
											$(".pause-slide").click(function(){
												$("#myCarousel").carousel('pause');
											});
											// 循环轮播到上一个项目
											$(".prev-slide").click(function(){
												$("#myCarousel").carousel('prev');
											});
											// 循环轮播到下一个项目
											$(".next-slide").click(function(){
												$("#myCarousel").carousel('next');
											});
											// 循环轮播到某个特定的帧 
											$(".slide-one").click(function(){
												$("#myCarousel").carousel(0);
											});
											$(".slide-two").click(function(){
												$("#myCarousel").carousel(1);
											});
											$(".slide-three").click(function(){
												$("#myCarousel").carousel(2);
											});
										});
									</script>
									
                                </div>
								<div id="descript-detail" class="post-excerpt">
									
									

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i><span id="create_time"></span>
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="post-view">
										<i class="fa fa-eye"></i><span id="views"></span> 查看
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a id="author" href="#"></a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a id="type" href="javascript:void(0);"></a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="javascript:toPage('pre');" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一篇
                                </a>
                                <a href="javascript:toPage('next');" class="next-post pull-right">
                                    	下一篇<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>

                            <!-- End Single Post -->

                        </div>
                    </div>


				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
								<h3><a href="login.html" target="_blank">廊坊庆<span class="LOGO" >辉</span>建材有限公司</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2018</span></h3> 
								<hr>
								友情链接:
								<a href="https://www.zhihu.com/" target="_blank">知乎</a>
								<a href="http://weibo.com/" target="_blank">新浪微博</a>
								<a href="http://music.163.com/" target="_blank">网易云音乐</a>
								<a href="https://www.taobao.com/" target="_blank">淘宝</a>
								<a href="https://www.baidu.com/" target="_blank">百度</a>
								
								<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系"   href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)"  class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		
		<!-- end Footer Area
		========================================== -->
		
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
			 function changeChat(){
				 if($("#bigWechat").is(":hidden")){
				       $("#bigWechat").fadeIn(400);    //如果元素为隐藏,则将它显现
				}else{
				      $("#bigWechat").fadeOut(400);     //如果元素为显现,则将其隐藏
				}
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>