<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>产品详情-岩棉</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- Bootstrap Family Styles -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">


		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			
			.carousel-inner img {
				width:100%;
			}
			
		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog"><h4>产品详情</h4></a></li>
                        
                    </ul>
                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-top:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
                                    <!-- <a href="single-post.html">
										<img src="image/product/t1_p1_01.jpg" alt="t1_p1_01" class="img-responsive">
									</a> -->
									
									<!-- 幻灯片 -->
									<div id="myCarousel" class="carousel slide" >
										<!-- 轮播（Carousel）指标 -->
										<ol class="carousel-indicators">
											<li data-target="#myCarousel" data-slide-to="0" 
												class="active"></li>
											<li data-target="#myCarousel" data-slide-to="1"></li>
											<li data-target="#myCarousel" data-slide-to="2"></li>
											<li data-target="#myCarousel" data-slide-to="3"></li>
										</ol>   
										<!-- 轮播（Carousel）项目 -->
										<div class="carousel-inner">
											<div class="item active">
												<img  src="image/product/t1_p1_01.jpg" alt="First slide">
											</div>
											<div class="item">
												<img  src="image/product/t1_p1_02.jpg" alt="Second slide">
											</div>
											<div class="item">
												<img  src="image/product/t1_p1_03.jpg" alt="Third slide">
											</div>
											<div class="item">
												<img  src="image/product/t1_p1_04.jpg" alt="Four slide">
											</div>
										</div>
										<!-- 轮播（Carousel）导航 -->
										<a class="carousel-control left " href="#myCarousel" 
										   data-slide="prev">&lsaquo;</a>
										<a class="carousel-control right " href="#myCarousel" 
										   data-slide="next">&rsaquo;</a>
										<!-- 控制按钮 -->
										<div style="text-align:center;display: none">
											<input type="button" class="btn start-slide" value="Start">
											<input type="button" class="btn pause-slide" value="Pause">
											<input type="button" class="btn prev-slide" value="Previous Slide">
											<input type="button" class="btn next-slide" value="Next Slide">
											<input type="button" class="btn slide-one" value="Slide 1">
											<input type="button" class="btn slide-two" value="Slide 2">            
											<input type="button" class="btn slide-three" value="Slide 3">
										</div>
									</div> 
									<script>
										$(function(){
			
											$('#myCarousel').carousel({
												interval: 3000
											});
			
											$("#myCarousel").carousel('cycle');
			
											// 初始化轮播
											$(".start-slide").click(function(){
												
											});
											// 停止轮播
											$(".pause-slide").click(function(){
												$("#myCarousel").carousel('pause');
											});
											// 循环轮播到上一个项目
											$(".prev-slide").click(function(){
												$("#myCarousel").carousel('prev');
											});
											// 循环轮播到下一个项目
											$(".next-slide").click(function(){
												$("#myCarousel").carousel('next');
											});
											// 循环轮播到某个特定的帧 
											$(".slide-one").click(function(){
												$("#myCarousel").carousel(0);
											});
											$(".slide-two").click(function(){
												$("#myCarousel").carousel(1);
											});
											$(".slide-three").click(function(){
												$("#myCarousel").carousel(2);
											});
										});
									</script>
									
                                </div>
								<div class="post-excerpt">
									<h3 style="color:#4ba547">岩棉</h3>
									<p>
										岩棉是以精选的辉绿岩和玄武岩矿渣为主要原料，经过高温融化在告诉离心过程中喷入特质粘合剂和防水剂而制成的树脂岩棉和防水岩棉。可制成岩棉板、毡、管、条。具有导热系数小，吸声性能好不燃，化学稳定性好等特点。是一种新型的保温，隔热，吸声的材料。防水岩棉有一定的化学稳定性，即使在潮湿的情况下长期使用也不会发生潮解，根据JISA95-1979方式测验，憎水率在98%以上，由于制品不含氟（F-）氯（CL）。因此对设备无腐蚀作用，由于产品质量和种类的多样化，因此备受广大用户的欢迎。是建筑物、管道、储罐、蒸馏塔、锅炉、烟道、热交换器、风车和车船等工业设备优良的保温、隔热、隔冷、吸声的理想材料。
									</p>
								
									<!-- <blockquote></blockquote> -->
										<p>
											<h4 style="color:#4ba547">防火岩棉板</h4>
											广泛应用于石油、化工、冶金、船舶、纺织等各工业级设备管道的保温，也用于建筑行业的隔墙、吊顶及内外墙的保温和吸音。保温性能、防火性能良好。酸度系数高，具有良好的化学稳定性及纤维耐久性具有良好的心瘾特性。
										</p>
										<p>
											<h4 style="color:#4ba547">防火岩棉条</h4>
											等为主要原料，经高温熔融成岩棉条是以玄武岩及其他天然矿石纤维，加入适量粘合剂固化加工而形成的。该产品是彩钢夹芯板的专用芯材，应用于彩钢墙板与屋顶板上，具有极佳的耐压强度和优秀的防火性能。为电子洁净厂房、净化工厂、防爆防火车间创造一个恒温绝热和隔音效果良好的、安全的高品质板材做出了重要突破，是彩钢复合板与防火门最佳的芯材。
										</p>
										
										<p>
											主要防火特性 <br>
											☉具有最高防火等级A1级，能有效防止火势蔓延。 <br>
											
											☉尺寸非常稳定，在火灾中不会伸长、收缩或变形。 <br>
											
											☉耐高温，熔点高于1000℃。 <br>
											
											☉在火灾中不产生烟雾或者燃烧液滴/碎片。 <br>
											
											☉在火灾中不会释放有害环境的物质和气体。<br> 
											
											保温隔热 <br>
											岩棉纤维细长柔韧，渣球含量低。因而导热系数低，具有极佳的保温效果。<br> 
											
											吸音降噪 <br>
											岩棉是理想的隔音材料，大量的细长纤维形成了多孔连接结构,决定了施可达岩棉是一种出色的吸音降噪料。<br> 
											
											憎水性<br> 
											憎水岩棉产品憎水率可达到99.9% ; 吸水率极低，无毛细渗透。<br> 
											
											抗潮湿性能 <br>
											岩棉在相对湿度很大的环境下, 体积吸湿率小于0.2%; 按ASTMC1104 或ASTM1104M 方法测试，质量吸 湿率小于0.3%。 <br>
											
											无腐蚀性 <br>
											岩棉化学性质稳，PH 值为7—8，呈中性或弱碱性，对碳钢、不锈钢、铝等金属材料均无腐蚀。 <br>
											安全、环保 <br>
											岩棉经检测不含有石棉，CFC、HFC、HCFC等对环境有害的物质。不会被腐蚀或产生霉变及细菌。（岩棉已被国际癌症研究权威 
											机构认定为不致癌物质） <br>
											
											应用<br>
											有弹性、中等强度岩棉板：适用于建筑墙体/屋顶保温、防火、吸音、如幕墙、内墙隔断、电梯井等。<br>
											高强度岩棉板：适用于高、低温的各种条件下、有着很好的承载、抗压特性、尤其适用于大型船舶、容器、烘箱和管道及工业设备的保温、绝热。<br>
											耐压岩棉板：能承受巨大的高负载。适用于候机室、大型车间等房顶保温。
										</p>
									

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="post-view">
										<i class="fa fa-eye"></i>265 查看
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="#">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">岩棉类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="T3P3_singleproduct.html" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一产品
                                </a>
                                <a href="T1P2_singleproduct.html" class="next-post pull-right">
                                    	下一产品<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>

                            <!-- End Single Post -->

                        </div>
                    </div>


				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
							<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
							<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>