<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>产品详情-阻火圈</title>
		
        <meta name="description" content="description">
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
		
		<!-- Bootstrap Family Styles -->
        <!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">		
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/responsive.css">


		
		<!-- Modernizer Script for old Browsers -->
        <script src="js/modernizr-2.6.2.min.js"></script>
        <style>
			.LOGO{
				color: #4ba550;
			}
			.navbar-inverse .navbar-brand .LOGO:hover, .navbar-inverse .navbar-brand .LOGO:focus {
    			color: #51e759;
    			background-color: transparent;
			}
			.carousel-inner img {
				width:100%;
			}

		</style>

    </head>
	
    <body class="blog-page">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="努力加载中..." src="img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
        
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
						<h1 id="logo">
							<!-- <img src="img/logo-meghna.png" alt="Meghna" /> -->
							廊坊•庆<span class="LOGO" >辉</span>建材
							<span style="font-size:13px;">™</span>
						</h1>
					</a>
                </div>

                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
                        <li ><a href="index.html" target="_self"><h4>返回首页</h4></a></li>
                        <li class="current"><a href="index.html#blog" target="_self"><h4>产品详情</h4></a></li>
                        
                    </ul>

                </nav><!-- /.navbar-collapse -->
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        
        
        <!-- Start Blog Banner
        ==================================== -->
        <section id="blog-banner" style="padding-top:0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="blog-title">
                            <h1></h1>
                        </div>
                        
					</div>     <!-- End col-lg-12 -->
				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        
        
        <!-- Start Blog Post Section
        ==================================== -->
        <section id="blog-page">
            <div class="container">
                <div class="row">
                   
                    <div id="blog-posts" class="col-md-12 col-sm-12">
                        <div class="post-item">
                           
                           <!-- Single Post -->
                            <article class="entry wow fadeInDown"  data-wow-duration="1000ms" data-wow-delay="300ms">                               
                                <div class="post-thumb">
                                    <!-- <a href="single-post.html">
										<img src="image/product/t1_p1_01.jpg" alt="t1_p1_01" class="img-responsive">
									</a> -->
									
									<!-- 幻灯片 -->
									<div id="myCarousel" class="carousel slide" >
										<!-- 轮播（Carousel）指标 -->
										<ol class="carousel-indicators">
											<li data-target="#myCarousel" data-slide-to="0" 
												class="active"></li>
											<li data-target="#myCarousel" data-slide-to="1"></li>
											<li data-target="#myCarousel" data-slide-to="2"></li>
											<li data-target="#myCarousel" data-slide-to="3"></li>
											<li data-target="#myCarousel" data-slide-to="4"></li>
										</ol>   
										<!-- 轮播（Carousel）项目 -->
										<div class="carousel-inner">
											<div class="item active">
												<img  src="image/product/t2_p2_01.jpg" alt="First slide">
											</div>
											<div class="item">
												<img  src="image/product/t2_p2_02.jpg" alt="Second slide">
											</div>
											<div class="item">
												<img  src="image/product/t2_p2_03.jpg" alt="Third slide">
											</div>
											<div class="item">
												<img  src="image/product/t2_p2_04.jpg" alt="Four slide">
											</div>
											<div class="item">
												<img  src="image/product/t2_p2_05.jpg" alt="Four slide">
											</div>
										</div>
										<!-- 轮播（Carousel）导航 -->
										<a class="carousel-control left " href="#myCarousel" 
										   data-slide="prev">&lsaquo;</a>
										<a class="carousel-control right " href="#myCarousel" 
										   data-slide="next">&rsaquo;</a>
										<!-- 控制按钮 -->
										<div style="text-align:center;display: none">
											<input type="button" class="btn start-slide" value="Start">
											<input type="button" class="btn pause-slide" value="Pause">
											<input type="button" class="btn prev-slide" value="Previous Slide">
											<input type="button" class="btn next-slide" value="Next Slide">
											<input type="button" class="btn slide-one" value="Slide 1">
											<input type="button" class="btn slide-two" value="Slide 2">            
											<input type="button" class="btn slide-three" value="Slide 3">
										</div>
									</div> 
									<script>
										$(function(){
			
											$('#myCarousel').carousel({
												interval: 3000
											});
			
											$("#myCarousel").carousel('cycle');
			
											// 初始化轮播
											$(".start-slide").click(function(){
												
											});
											// 停止轮播
											$(".pause-slide").click(function(){
												$("#myCarousel").carousel('pause');
											});
											// 循环轮播到上一个项目
											$(".prev-slide").click(function(){
												$("#myCarousel").carousel('prev');
											});
											// 循环轮播到下一个项目
											$(".next-slide").click(function(){
												$("#myCarousel").carousel('next');
											});
											// 循环轮播到某个特定的帧 
											$(".slide-one").click(function(){
												$("#myCarousel").carousel(0);
											});
											$(".slide-two").click(function(){
												$("#myCarousel").carousel(1);
											});
											$(".slide-three").click(function(){
												$("#myCarousel").carousel(2);
											});
										});
									</script>
									
                                </div>
								<div class="post-excerpt">
									<h3 style="color:#4ba547">阻火圈</h3>
									<p>
										本产品具有结构紧凑，造型美观，防渗漏与防火措施有机结合，施工安装方便等优点，为UPVC排水管在工业与民用建筑，特别是高层建筑中的推广应用提供了有力的消防保障。本产品贯穿明装或暗装固定在楼板部位或墙体两侧，阻火效果好，耐火时间长，具有优良的耐火、耐潮湿、抗氧化性能，结构紧密、造型美观、安装方便等优点。?随着中国的经济高速发展以及建设热、房地产热过后，暴露的安全、环保、能源等问题日益突出。塑料管道在各类公共和民用建筑中得到广泛应用，但塑料管道往往容易成为火灾传播的通道，塑料管道遇热火烧毁后形成的孔洞像一个烟囱，使火焰和烟气从一层沿管道蔓延和扩散至另一层，或从一个房间蔓延和扩散到另一个房间，使火灾损失扩大。世界各国消防组织得出一致的结论，塑料管道是火灾道蔓延和扩散的罪魁祸首。阻火圈放置部位 
										根据我国住建部GB 50242-2002《建筑给水排水及采暖工程施工质量验收规范》中室内排水系统安装第5.2.4条：高层建筑中明设排水塑料管道应按设计要求设置阻火圈或防火套管。 
										根据我国住建部 CJJ/T29-2010《建筑排水塑料管道工程技术规程》（2011年10月1日实施）中第4.1.3条，敷设在高层建筑室内的塑料排水管道当管径大于等于110mm时，应在下列位置设置阻火圈： <br>
										1、明敷立管穿越楼层的贯穿部位。 <br>
										2、横管穿越防火分区的隔墙和防火墙的两侧。 <br>
										3、横管穿越管道井井壁或管窿围护墙体的贯穿部位外侧。 <br>
										并在第5.1.17条中说明：阻火圈的安装应符合产品要求，安装时应紧贴楼板底面或墙体，并应采用膨胀螺栓固定。 
									</p>
								
									<!-- <blockquote></blockquote> -->
										<p>
											<h4 style="color:#4ba547">尺寸规格</h4>
											内径：40mm、50mm、75mm、90mm、110mm、125mm、160mm、250mm或可定制。
											<br>外形：带四角、螺丝锁扣、不带四角、插片锁扣或可定制。
										</p>

									

								</div>
								<div class="post-meta">
									<span class="post-date">
										<i class="fa fa-calendar"></i>2017-2-28
									</span>
									<!-- <span class="comments">
										<i class="fa fa-comments"></i>18 Comments
									</span> -->
									<span class="post-view">
										<i class="fa fa-eye"></i>265 查看
									</span>
									<span class="author">
										<i class="fa fa-user"></i><a href="#">Admin</a>
									</span>
									<span class="post-tags">
										<i class="fa fa-tags"></i><a href="javascript:void(0);">阻火类</a>
									</span>
								</div>
                            </article>
                            <!-- End Single Post -->
							
                            <div class="next-prev clearfix">
                                <a href="T2P1_singleproduct.html" class="prev-post">
                                    <i class="fa fa-angle-left fa-2x"></i>上一产品
                                </a>
                                <a href="T2P3_singleproduct.html" class="next-post pull-right">
                                    	下一产品<i class="fa fa-angle-right fa-2x"></i>
                                </a>
                            </div>

                            <!-- End Single Post -->

                        </div>
                    </div>


				</div>	    <!-- End row -->
			</div>       <!-- End container -->
		</section>    <!-- End Section -->
        

		<!-- Start Footer Section
		========================================== -->
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">

						<!-- copyright -->
						<div class="copyright text-center">
							<h3><a href="login.html" target="_blank">廊坊•庆<span class="LOGO" >辉</span>建材</a><span style="font-size:13px;padding-left:5px;">™</span><span style="font-size:18px;padding-left:5px;">.2017</span></h3> 
							<p>技术支持：<a target="_blank" href="http://www.zooori.cn">ZooORI.才华有限公司</a></p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a title="qq联系" target="_blank" href="tencent://message/?uin=748672175&amp;Site=&amp;Menu=yes" id="qq"  style="width:44px;border: 1px solid #4e595f;bottom:98px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i class="fa fa-qq fa-lg"></i>
		</a>
		<a title="微信联系" href="javascript:;" id="wechat"   style="width:44px;border: 1px solid #4e595f;bottom:60px;color: #fff;display: none;padding: 8px 12px;position: fixed;right: 20px;z-index: 600;">
			<i onmouseover="weChat(1)" onmouseout="weChat(0)" class="fa fa-weixin fa-lg"></i>
		</a>
		<div id="bigWechat" style="display:none;border:1px solid #4e595f;width:250px;height:122px;position: fixed;bottom:15px;right:64px;z-index: 600;">
			<img src="img/wechat01.jpg" width="120" height="120">
			<img src="img/wechat02.jpg" width="120" height="120">
		</div>
		<a title="返回顶部" href="#" id="scrollUp"><i class="fa fa-angle-up fa-2x"></i></a>
		<script>
			 function weChat(flag){
				 if(flag==1){
					 $('#bigWechat').fadeIn(400);
				 }else{
					 $('#bigWechat').fadeOut(400);
				 }
			 }
		</script>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		<script src="js/classie.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>

    </body>
</html>