<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>404</title>
<link rel="shortcut  icon" type="image/x-icon" href="../static/img/favicon.ico" media="screen"  />
<link href="../../static/css/tip/404.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- 代码 开始 -->
<div class="fullScreen" id="fullScreen">
    <img class="rotating" src="../../static/css/tip/spaceman.svg" />
    <div class="pagenotfound-text">
    <h1>页面找不到了</h1>
    <h2><a href="javascript:void(0)" onclick="redirect()">返回首页</a></h2>
    </div>
    <canvas id="canvas2d"></canvas>
</div>
<script type="text/javascript" src="../static/css/tip/404.js"></script>
<!-- 代码 结束 -->
<script>
    function redirect() {
        parent.open("/","_self");
        //window.open("/","_self");
    }
</script>

</body>
</html>